<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tophold.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_names}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.fund.FundActivity" />
        <activity android:name=".demo.kview.beginner.ui.KViewVerticalActivity" />
        <activity
            android:name=".demo.kview.beginner.ui.KViewHorizontalActivityActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme_Fullscreen" />
        <activity android:name=".demo.kview.forex.ui.ForexListActivity" />
        <activity android:name=".demo.kview.forex.ui.ForexActivity" />
        <activity android:name=".demo.kview.btc.ui.HuobiListActivity" />
        <activity android:name=".demo.kview.btc.ui.HuobiActivity" />
        <activity android:name=".demo.pie.PieChartActivity" />

        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->


        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <activity android:name=".demo.seekbar.DoubleThumbSeekBarActivity" />
        <activity android:name=".demo.kview.KViewActivity"></activity>
    </application>

</manifest>